<app-nav-bar></app-nav-bar>
<div class="header">
  <div class="heading">
    <div class="title">
      <h1>3 days trip to spitti valley</h1>
      <div class="subtitle">
        <p>Jhon smith travelling from new Delhi to Spitti valley on 29 January 2025.</p>
      </div>
    </div>
  </div>
</div>
<div class="nav">
  <div class="options">
    <div matRipple class="option">About Spitti valley</div>
    <div matRipple class="option">Organizer</div>
    <div matRipple class="option">Trip details</div>
    <div matRipple class="option">Itinerary</div>
    <div matRipple class="option">Contact</div>
    <div matRipple class="option">Candidates</div>
  </div>
</div>
<div class="content">
  <div class="main">
    <div class="about section">
      <h3>About</h3>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tenetur, rem. Atque ipsam vel tenetur delectus tempora
      modi sit, quo odio soluta natus quod adipisci inventore placeat, doloremque dolor dolore at?
    </div>
    <div class="organizer section">
      <h3>Organizer</h3>
      Organized by jhonsmith , 15k followers on instagram <br>
      Account type : Personal <br>
      Verified corporate account: TCS
    </div>
    <div class="trip details section">
      <h3>Trip Details</h3>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem sapiente nobis facilis fugiat eligendi nostrum
      voluptatum aperiam in. Sint fugiat dolore exercitationem neque repellendus et officia, nemo optio deleniti
      deserunt?
    </div>
    <div class="itinerary section">
      <h3>Itinerary</h3>
      Day 1: Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi odio laboriosam dolorem. Molestiae,
      doloribus. Eum deleniti veritatis dolores ut repellat est, voluptas nobis eveniet qui excepturi repudiandae vel
      quam expedita?
      <br>Day 2: Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis expedita deserunt ad itaque et
      vitae sapiente iure, sint ea error, obcaecati esse vel doloribus, aliquid ab corporis provident illum voluptates?
      <br> Day 3: Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur corrupti et adipisci, laudantium
      aspernatur ratione architecto totam necessitatibus error blanditiis alias cupiditate vero omnis eligendi?
      Voluptates enim optio consequatur quis?
    </div>
    <div class="contact section">
      <h3>Contact</h3>
      Contact me via whatsapp + 91 123456789 or Dm me on instagram jhsonsmith
    </div>
    <div class="section">
      <h3>Other candidates on this trip</h3>
      Jhonsmith mentioned 4 other folks joining him on this trip

    </div>
    <div class="section">
      <div matRipple class="join-btn">
        Request to join
      </div>
    </div>
  </div>

</div>
<app-footer></app-footer>