.heading {
    font-weight: 300;
}
.content {
    text-align: center;
    height: 100%;
    .heading {
        padding: 10% 0%;
        font-size: x-large;
    }
    .signin-options {
        padding-top: 29px;
    }
}
