<main class="main">
  <div class="header">
    <div class="heading">
      <div class="title">
        <h1>Find Your Perfect Travel Companion Today!</h1>
        <div class="subtitle">
          <p>Hop on your next adventure with like-minded travelers—plan, connect, and explore together.</p>
        </div>
        <button mat-flat-button>Let's go</button>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="features">
      <div class="row">
        <h3>Features</h3>
        <ul>
          <li>Match with Like-Minded Travelers</li>
          <li>Plan and Share Trips with Ease</li>
          <li>Verify accounts your own</li>
          <li>Find and travel with your colleagues</li>
          <li>Know about travel group before joining them</li>
          <li>100% free and open-source</li>
        </ul>
      </div>
      <div class="row">
        <h3>How it works</h3>
        <ul>
          <li>Login with instagram account</li>
          <li>Verify your identity by corporate or university email
            (optional)</li>
          <li>Post your trip or request to join others</li>
          <li>See other people who joined that trip and <br>stalk them on instagram to check
            compatibility</li>
          <li>Travel with them and have fun</li>
        </ul>
      </div>
    </div>
  </div>

</main>
<router-outlet />