<div class="header">
  <div class="heading">
    <div class="title">
      <h1>Find Your Perfect Travel Companion Today!</h1>
      <div class="subtitle">
        <p>Hop on your next adventure with like-minded travelers—plan, connect, and explore together.</p>
      </div>
      <button mat-flat-button routerLink="/trips">Let's go</button>
    </div>
  </div>
</div>
<div class="content">
  <div class="features">
    <div class="row">
      <h3>Features</h3>
      <ul>
        <li>Match with Like-Minded Travelers</li>
        <li>Plan and Share Trips with Ease</li>
        <li>Verify accounts your own</li>
        <li>Find and travel with your colleagues</li>
        <li>Know about travel group before joining them</li>
        <li>100% free and open-source</li>
      </ul>
    </div>
    <div class="row">
      <h3>How it works</h3>
      <ul>
        <li>Login with instagram account</li>
        <li>Verify your identity by corporate or university email
          (optional)</li>
        <li>Post your trip or request to join others</li>
        <li>See other people who joined that trip and <br>stalk them on instagram to check
          compatibility</li>
        <li>Travel with them and have fun</li>
      </ul>
    </div>
  </div>
  <div class="featured-trips">
    <div class="card">
      <mat-card class="trip-card" appearance="outlined">
        <mat-card-header>
          <div mat-card-avatar class="trip-header-image"></div>
          <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="card">
      <mat-card class="trip-card" appearance="outlined">
        <mat-card-header>
          <div mat-card-avatar class="trip-header-image"></div>
          <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="card">
      <mat-card class="trip-card" appearance="outlined">
        <mat-card-header>
          <div mat-card-avatar class="trip-header-image"></div>
          <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="card">
      <mat-card class="trip-card" appearance="outlined">
        <mat-card-header>
          <div mat-card-avatar class="trip-header-image"></div>
          <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
  <div class="find-more">
    <button mat-stroked-button routerLink="/trips">Find more trips</button>
  </div>
</div>
<app-footer></app-footer>